@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Contenedor */
.contenedor {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif; }

/* Estilos al index */
/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  background-image: linear-gradient(to bottom, #f0b86e, white); }
  header .navbar {
    margin-left: 1.5rem; }
    header .navbar .menu-hamburguesa {
      font-weight: bold; }
      header .navbar .menu-hamburguesa .dropdown-item {
        font-weight: bold; }
      header .navbar .menu-hamburguesa h2 {
        font-weight: bold; }
      header .navbar .menu-hamburguesa .offcanvas-header {
        border-bottom: 1px solid silver; }
  header .logo-lupa {
    display: none; }
  header .logo-usuario {
    margin-top: 10px; }
    header .logo-usuario ul {
      list-style: none; }
      header .logo-usuario ul li a img {
        width: 30px;
        height: 30px; }
  header .logo-corcar {
    display: none; }
  header a {
    text-decoration: none; }
    header a h1 {
      margin-top: 10px;
      color: black;
      font-weight: bold;
      filter: drop-shadow(3px 4px 2px #8d8d8d); }

/* Main */
main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 1.5rem;
  gap: 1.5rem; }
  main .nav-main {
    display: none; }
  main .carousel .carousel-inner .carousel-item img {
    width: 100%; }
  main .cards-dos {
    display: flex;
    gap: 0.8rem;
    padding-bottom: 0.5rem; }
    main .cards-dos img {
      width: 48%;
      margin: auto; }

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #f0b86e, white);
  height: 3rem; }
  footer p {
    display: inline-block;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem; }
  footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem; }

/* Estilos al login y register */
/* Main */
main .form-ingreso {
  width: 20rem;
  margin: auto;
  margin-top: 3.5rem;
  margin-bottom: 1.45rem; }
  main .form-ingreso h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-weight: bold; }
  main .form-ingreso .campo-usuario {
    font-weight: bold; }
  main .form-ingreso .campo-contraseña {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-weight: bold; }
    main .form-ingreso .campo-contraseña .link-olvipwd a {
      color: black;
      text-decoration: none; }
  main .form-ingreso .boton-entrar {
    display: flex;
    margin: auto;
    margin-top: 2.5rem;
    color: white;
    background-color: #3b3b3b; }
  main .form-ingreso .boton-crearcuenta {
    margin-top: 2rem; }
    main .form-ingreso .boton-crearcuenta a {
      text-decoration: none;
      color: black;
      font-weight: bold; }

/* Estilos a remeras */
/* Main */
main .titulo-remera {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold; }

main .filtro a {
  font-weight: bold; }

main .filtro .offcanvas .offcanvas-header {
  border-bottom: 1px solid silver; }
  main .filtro .offcanvas .offcanvas-header h3 {
    font-weight: bold; }

main .filtro .offcanvas .offcanvas-body .dropdown button {
  font-weight: bold; }

main .cards-remeras {
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  main .cards-remeras .card {
    width: 20rem;
    margin: auto; }
    main .cards-remeras .card a img {
      width: 100%; }
    main .cards-remeras .card .card-logos {
      display: flex;
      justify-content: space-around;
      padding: 5px;
      margin-bottom: 10px; }
      main .cards-remeras .card .card-logos a img {
        width: 25px;
        height: 25px; }

/* Estilos eleccion */
/* Main */
main .eleccion {
  margin: auto;
  width: 28rem; }
  main .eleccion .card-body .card-title {
    font-weight: bold; }
  main .eleccion .card-body .card-text {
    font-weight: bold; }
  main .eleccion .card-body .card-boton {
    font-weight: bold;
    background-color: #3b3b3b; }

/* Media querie desktop */
/*  Index header */
@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: end; }
    header .navbar {
      display: none; }
    header .logo-lupa {
      display: block; }
      header .logo-lupa ul {
        list-style: none; }
        header .logo-lupa ul li {
          transition: 0.5s; }
          header .logo-lupa ul li a img {
            width: 25px;
            height: 25px; }
        header .logo-lupa ul li:hover {
          transform: scale(1.15); }
    header a {
      margin: auto; }
      header a h1 {
        padding-left: 8rem;
        margin: auto; }
    header .logo-usuario {
      margin-right: 2rem; }
      header .logo-usuario ul li {
        transition: 0.5s; }
        header .logo-usuario ul li a img {
          width: 25px;
          height: 25px; }
      header .logo-usuario ul li:hover {
        transform: scale(1.15); }
    header .logo-corcar {
      display: block;
      margin-right: 3rem; }
      header .logo-corcar ul {
        display: flex;
        list-style: none;
        gap: 4rem; }
        header .logo-corcar ul li {
          transition: 0.5s; }
          header .logo-corcar ul li a img {
            width: 25px;
            height: 25px; }
        header .logo-corcar ul li:hover {
          transform: scale(1.15); }
  /*  Index main */
  main .nav-main {
    display: flex;
    margin: 2rem; }
    main .nav-main ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 100%; }
      main .nav-main ul li {
        transition: 0.5s; }
        main .nav-main ul li a {
          color: black;
          text-decoration: none;
          font-weight: bold; }
      main .nav-main ul li:hover {
        transform: scale(1.3); }
  main .card-uno {
    display: none; }
  /*  Login y Register main */
  main .form-ingreso {
    margin-top: 1rem;
    margin-bottom: 2.18rem;
    border: 1px solid #d1d1d1;
    width: 70%;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  /* Remeras main */
  main .cards-remeras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  /* Eleccion main */
  main .eleccion {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 32.35rem; }
    main .eleccion .card-body {
      text-align: center;
      align-self: center; } }
